@import "tailwindcss";

#root {
  width:100%;
  height : 100%;

}


@theme {
  /* إضافة ألوان مخصصة */
  --color-brand-primary: #648DE5;
  --color-brand-secondary: #304C89;
  --color-brand-accent: #34F6F2;
  --color-brand-light: #78E3FD;
  --color-brand-white : "#fff"
  
  /* يمكنك أيضاً إضافة لون بني كما طلبت */
  --color-brown-dark: #5C4033;
}